.jumbotron {
  margin: 0;
  padding: 0rem 0rem;
  width: 100%;
  background-color: transparent;
}

.headerText {
  text-align: start;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.headerText h1 {
  font-size: 55px;
}

.headerText h1, .headerText p {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(./images/white-marble.jpg);
  background-position: center;
  background-size: cover;
}
