.jumbotron {
  margin: 0;
  background-image: url(../main-background.jpg);
  background-position: center;
  background-size: cover;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainText {
  padding: 20px;
  min-width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
