.container {
  height: 500px;
  width: 700px;
  margin-top: 40px;
}

.containerBody {
  padding: 20px;
  border-radius: 15px;
  background-image: url(../images/marble.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 15px 20px 2px 1px rgba(71, 65, 59, 0.32), inset -15px -20px 2px 1px rgba(71, 65, 59, 0.32);
}

.containerBody h4 {
  color: rgb(103, 53, 0);
  font-weight: 600;
  margin-block: 10px;
}
