.container {
    height: 500px;
    width: 700px;
    margin-top: 40px;
    padding: 25px;
    border-radius: 15px;
    background-image: url(../../images/marble.jpg);
    box-shadow: inset 15px 20px 2px 1px rgba(71, 65, 59, 0.32), inset -15px -20px 2px 1px rgba(71, 65, 59, 0.32);
}

.container h2 {
    margin-top: 5px;
    padding: 20px;
    border-radius: 15px;
    color: rgb(103, 53, 0);
    font-weight: 600;
    background-color: rgba(133, 81, 32, 0.333);
    box-shadow: inset 10px 10px 1px 1px rgba(71, 65, 59, 0.218), inset -10px -10px 1px 1px rgba(71, 65, 59, 0.251);
}

.containerBody {
    height: 355px;
    padding-inline: 5px;
    text-align: left;
    overflow-y: auto;
    border-radius: 2px;
    border-block: 1px solid rgb(172, 142, 103);
    background-color: rgba(211, 189, 163, 0.551);
}

.bodyContent {
    border-block: 1px inset rgba(0, 0, 0, .125);
}

.containerBody a {
    font-size: 20px;
    color: #28292a;
    padding-left: 5px;
}

.containerDate {
    padding: 5px;
    text-align: right;
    font-size: 14px;
    color: #3c3d3e!important;
    font-family: 'Philosopher', sans-serif;
}

.containerComments {
    font-size: 14px;
    color: #3c3d3e!important;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 5px;
    padding-left: 5px;
}

.containerBody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.containerBody::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.408);
}

.containerBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(157, 121, 74);
}
