.DiscussionsContainer {
    margin: 15px;
    padding: 30px;
    color: rgb(103, 53, 0);
    width: fit-content;
}

.DiscussionsContainer a {
    color: #673500;
    font-weight: 600;
}

.DiscussionsContainer h2 {
    font-weight: 600;
    margin-bottom: 25px;
}

.card {
    padding-inline: 10px;
    background-image: url(../../images/marble.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 15px 20px 2px 1px rgba(71, 65, 59, 0.32), inset -15px -20px 2px 1px rgba(71, 65, 59, 0.32);
}

.text-muted {
    color: #3f454a!important;
    font-weight: 600;
}
