.DiscussionContainer {
    margin: 45px;
    width: fit-content;
}

.DiscussionContainer h3 {
    color: rgb(103, 53, 0);
    font-weight: 600;
}

.card {
    padding: 20px;
    background-image: url(../../images/marble.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 15px 20px 2px 1px rgba(71, 65, 59, 0.32), inset -15px -20px 2px 1px rgba(71, 65, 59, 0.32);
}
